!!! html
!!!

%html
  %head
    %title Cross-Origin Resource Sharing (Michael Bleigh, RubyConf 2012)

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=1024"}

    %link{href: "css/presentation.css", rel: "stylesheet"}

  %body.impress-not-supported
    #impress{data: {"max-scale" => 2, "min-scale" => 0.25, "transition-duration" => 500}}

      #open.step{data: {x: 0, y: 0}}
        %h2 Building Modular, Scalable Web Apps?
        %h1 Of CORS!

        %h3.byline Michael Bleigh
        %h3.venue RubyConf 2012

      #about-me.step{data: {x: 0, y: -1000}}
        %h1 CEO of Divshot, Fellow at Intridea

      #what-is-cors.step{data: {x: 1200, y: 0}}
        %h1
          Cross
          %br
          Origin
          %br
          Resource
          %br
          Sharing

      #soa-in-browser.step.one-liner{data: {x: 2400, y: 0}}
        %h1
          %b SOA
          in the 
          %b Browser

    / Javascripts
    %script{src: "js/jquery.min.js"}
    %script{src: "js/impress.js"}
    %script{src: "js/application.js"}